name: CI/CD Pipeline

on:
  push:
    branches: [main] #Trigger on pushes to main branch

jobs:
  build-and-test:
    runs-on: ubuntu-latest # Use a virtual linux machine

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install Dependencies
      run: npm install

    - name: Run Tests
      run: npm test  